<div
	class="card shadow-sm rounded-card-border p-3 d-flex flex-row align-items-center mb-2">

	<!-- Image du deal -->
	<div class="me-3">
		{% if deal.image %}
			<img src="{{ asset('images/deals/' ~ deal.image) }}" alt="Image du deal" class="border img-fluid card-rounded-border" 
			style="
			width: {% if app.request.attributes.get('_route') == 'deal_show' %}320px{% else %}202px{% endif %};
			height: {% if app.request.attributes.get('_route') == 'deal_show' %}320px{% else %}202px{% endif %};
			object-fit: cover; border-radius: 12px;">
		{% endif %}
	</div>

	<!-- Contenu du deal -->
	<div class="flex-grow-1 p-2">
		<div
			class="d-flex justify-content-between align-items-center mb-1">
			<!-- Vote Box -->
			{% include 'partials/deal/_vote_box.html.twig' %}
			<span class="badge bg-light text-grey ms-2">
				Posté
				{{ deal.createdAt|ago }}
			</span>
		</div>

		<a href="{{ path('deal_show', {'id': deal.id}) }}" class="text-black text-decoration-none fs-4">
			{{ deal.name }}
		</a>

		<p class="text-muted small mb-1 d-flex align-items-center flex-wrap gap-2">
			<strong class="text-danger fs-4">{{ deal.price }}€</strong>
			<s class="text-secondary">{{ deal.originalPrice }}€</s>
			<span class="badge bg-success fs-6">-{{ ((1 - (deal.price / deal.originalPrice)) * 100)|round }}%</span>

			<i class="bi bi-truck text-secondary"></i>
			<span>{{ deal.deliveryPrice is null or deal.deliveryPrice == 0 ? 'Gratuit' : deal.deliveryPrice ~ '€' }}</span>

			<span>| Disponible chez
				<a href="{{ path('merchant_show', {'id': deal.merchant.id}) }}" class="fw-bold text-black text-decoration-none">
					{{ deal.merchant.name }}
				</a>
			</span>

			<span class="d-flex align-items-center ms-2">
				<img src="{{ deal.user.image }}" alt="User Image" class="rounded-circle me-1" style="width: 18px; height: 18px; object-fit: cover;">
				Partagé par&nbsp;
				<a href="{{ path('user_show', {'id': deal.user.id}) }}" class="fw-bold text-black text-decoration-none">
					{{ deal.user.username }}
				</a>
			</span>
		</p>

		<p class="text-muted small mb-2">{{ deal.description|length > 100 ? deal.description[:100] ~ '...' : deal.description }}</p>

		<!-- Infos complémentaires -->
		<div class="d-flex align-items-center mt-auto">
			<p class="me-3">
				<a href="{{ path('deal_show', {'id': deal.id}) }}#comments" class="text-decoration-none text-black d-flex align-items-center">
					<i class="bi bi-chat me-1"></i>
					{{ deal.comments|length }}
				</a>
			</p>
			<p class="me-3">
				<i class="bi bi-share"></i>
			</p>

			<!-- Bouton Voir le deal -->
			<div class="ms-auto">
				<a href="{{ deal.url }}" target="_blank" class="btn btn-deal rounded-pill">Voir le deal
					<i class="bi bi-box-arrow-up-right mx-2"></i>
				</a>
			</div>
		</div>
	</div>
</div>
