{% extends 'base.html.twig' %}

{% block title %}
	Inscription
{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
	<div class="container mt-5 w-60 mx-auto">
		<div class="card p-5 my-4 rounded-card-border border-0 container gap-2 ">
			<h2 class="text-center mb-4">Créer un nouveau compte</h2>

			{{ form_start(registrationForm) }}

			<div class="card rounded-card-border p-4 mb-4 shadow-sm">
				<h4 class="mb-3">
					<i class="bi bi-card-text"></i>
					Informations de connexion</h4>
				<div class="mb-3">
					{{ form_label(registrationForm.email, null, {'label_attr': {'class': 'form-label'}}) }}
					<div class="input-group">
						{{ form_widget(registrationForm.email, {'attr': {'class': 'form-control'}}) }}
					</div>
					{{ form_errors(registrationForm.email) }}
				</div>
				<div class="mb-3">
					{{ form_label(registrationForm.plainPassword, null, {'label_attr': {'class': 'form-label'}}) }}
					<div class="input-group">
						{{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'form-control'}}) }}
					</div>
					{{ form_errors(registrationForm.plainPassword) }}
				</div>
			</div>


			<div class="card rounded-card-border p-4 mb-4">

				<h4 class="mb-3">
					<i class="bi bi-image"></i>
					Informations complémentaires
				</h4>

				<div class="mb-3">
					{{ form_label(registrationForm.username, null, {'label_attr': {'class': 'form-label'}}) }}
					<div class="input-group">
						{{ form_widget(registrationForm.username, {'attr': {'class': 'form-control'}}) }}
					</div>
					{{ form_errors(registrationForm.username) }}
				</div>
				<div class="mb-3">
					{{ form_label(registrationForm.image, null, {'label_attr': {'class': 'form-label'}}) }}
					<div class="input-group">
						{{ form_widget(registrationForm.image, {'attr': {'class': 'form-control'}}) }}
					</div>
					{{ form_errors(registrationForm.image) }}
				</div>
			</div>

			{# <i class="bi bi-info-circle me-2"></i>
			<small class="text-muted">
		    </small> #}

            


			<button class="btn btn-deal rounded-pill mt-3 w-25 mx-auto d-block" type="submit">
				<i class="bi bi-plus-lg me-1"></i>
				S'inscrire</button>
			{{ form_end(registrationForm) }}
		</div>
	</div>
{% endblock %}
