<div class="dropdown">
	<button class="btn btn-light border-0 rounded-circle" type="button" id="dropdownMenuButton{{ comment.id }}" data-bs-toggle="dropdown" aria-expanded="false">
		<i class="bi bi-three-dots"></i>
		<!-- Bootstrap Icons -->
	</button>
	<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton{{ comment.id }}">
		<li>
			<a class="dropdown-item" href="#" onclick="copyLink(event, '{{ comment.id }}')">
				<i class="bi bi-clipboard-check mx-2"></i>
				Copier le lien du commentaire
			</a>
		</li>

		{% if app.user == comment.user %}
			<!-- Afficher les options "Modifier" et "Supprimer" si l'utilisateur est l'auteur du commentaire -->
			<li>
				<a class="dropdown-item" href="#" onclick="enableEdit(event,'{{ comment.id }}')">
					<input type="hidden" id="csrf_token" value="{{ csrf_token('edit_comment') }}">
					<i class="bi bi-pencil mx-2"></i>
					Modifier
				</a>
			</li>
			<li>
				<form action="{{ path('comment_delete', { 'id': comment.id }) }}" method="POST" style="display: inline;">
					<button type="submit" class="dropdown-item text-danger" style="background: none; border: none;">
						<i class="bi bi-trash mx-2"></i>
						Supprimer
					</button>
				</form>
			</li>
		{% else %}
			<!-- Afficher l'option "Signaler" si l'utilisateur n'est pas l'auteur du commentaire -->
			<li>
				<a class="dropdown-item text-danger" href="#">
					<i class="bi bi-flag mx-2"></i>
					Signaler
				</a>
			</li>
		{% endif %}
	</ul>
</div>
