{% extends 'base.html.twig' %}

{% block title %}Liste des Deals
{% endblock %}

{% block body %}

	{% for label, messages in app.flashes %}
		{% for message in messages %}
			<script>
				Swal.fire({
					icon: '{{ label }}', // success, error, warning, info
					title: '{{ message }}',
					showConfirmButton: false,
					timer: 3000 // Disparaît après 3 secondes
				});
			</script>
		{% endfor %}
	{% endfor %}


	<div class="container my-5 px-4">
		<h1 class="mb-4">Tous les deals</h1>

		{% if deals is not empty %}
			<div
				class="row g-2">

				<!-- Colonne principale (75%) -->
				<div class="col-md-9">
					{% for deal in deals %}
						{% include 'partials/deal/_deal_card.html.twig' %}
				{% endfor %}
			</div>

			<!-- Sidebar "Deals les + hot" -->
			<div class="col-md-3 d-flex flex-column gap-2">
				<div class="card p-3 shadow-sm rounded-card-border">
					<h5 class="mb-3">Deals les + hot</h5>
					
					{% for deal in hotestDeals %}
						<div class="d-flex align-items-center mb-3">
							<img src="{{ asset('images/deals/' ~ deal.image) }}" alt="Hot Deal Image" class="rounded" style="width: 84px; height: 84px; object-fit: cover; border-radius: 8px;">
							<div class="ms-3 w-100">

								<h6 class="mb-0">
									<a href="{{ path('deal_show', {'id': deal.id}) }}" class="text-black text-decoration-none">
										<span class="fw-bold text-danger">{{ deal.hotScore }}°</span>
										{{ deal.name }}
									</a>
								</h6>
								<h6 class="text-danger text-end bolder ">{{ deal.price }}€</h6>
							</div>
						</div>
					{% endfor %}
				</div>


				<!-- Sidebar "Activité" (Seulement si utilisateur connecté) -->
				{% if app.user %}
					<div class="card p-3 shadow-sm rounded-card-border ">
						<h5 class="mb-3">Activité</h5>
						{% if app.user.comments|length > 0 %}
						{% for comment in app.user.comments|slice(0,5) %}
							<div class="d-flex align-items-center mb-2">
								<img src="{{ asset('images/deals/' ~ comment.deal.image) }}" alt="Activity Deal" class="rounded" style="width: 54px; height: 54px; object-fit: cover;">
								<div class="ms-2">
									<small class="text-muted">Vous avez commenté le deal</small>
									<a href="{{ path('deal_show', {'id': comment.deal.id}) }}" class="d-block text-black text-decoration-none small">{{ comment.deal.name }}</a>
									<small class="text-muted">
										<i class="bi bi-chat"></i>
										{{ comment.createdAt|date('d F Y') }}</small>
								</div>
							</div>
						{% endfor %}
						{% else %}
							<div class=" text-center" role="alert">
								<p>Vous n'avez pas encore d'activité. </p>
							</div>
						{% endif %}
					</div>
				{% endif %}

				<!-- Sidebar "Discussions" (Tous le monde peut voir) -->
				<div class="card p-3 shadow-sm rounded-card-border">
					<h5 class="mb-3">Discussions
						<span class="text-primary">▾</span>
					</h5>

					<!-- Discussion 1 -->
					<div class="d-flex align-items-center mb-2">
						<img src="https://randomuser.me/api/portraits/men/32.jpg" alt="User Avatar" class="rounded-circle" style="width: 26px; height: 26px; object-fit: cover;">
						<div class="ms-2">
							<a href="#" class="d-block text-black text-decoration-none small fw-bold">ClemS</a>
							<a href="#" class="d-block text-black text-decoration-none small">Trade Republic lance un compte courant...</a>
							<small class="text-muted">
								<i class="bi bi-chat"></i>
								354
							</small>
						</div>
					</div>

					<!-- Discussion 2 -->
					<div class="d-flex align-items-center mb-2">
						<img src="https://randomuser.me/api/portraits/women/45.jpg" alt="User Avatar" class="rounded-circle" style="width: 26px; height: 26px; object-fit: cover;">
						<div class="ms-2">
							<a href="#" class="d-block text-black text-decoration-none small fw-bold">nrslr</a>
							<a href="#" class="d-block text-black text-decoration-none small">LeBonCoin : À quand la livraison à 0,99€ ?</a>
							<small class="text-muted">
								<i class="bi bi-chat"></i>
								53
							</small>
						</div>
					</div>

					<!-- Discussion 3 -->
					<div class="d-flex align-items-center mb-2">
						<img src="https://randomuser.me/api/portraits/men/12.jpg" alt="User Avatar" class="rounded-circle" style="width: 26px; height: 26px; object-fit: cover;">
						<div class="ms-2">
							<a href="#" class="d-block text-black text-decoration-none small fw-bold">El_Maak</a>
							<a href="#" class="d-block text-black text-decoration-none small">[Happy you !] Ces sites, magasins et restaurants qui offrent un cadeau...</a>
							<small class="text-muted">
								<i class="bi bi-chat"></i>
								206
							</small>
						</div>
					</div>
				</div>

			</div>

		</div>
	{% else %}
		<div class="alert alert-info text-center" role="alert">
			Aucun deal trouvé.
		</div>
	{% endif %}
</div>{% endblock %}
